<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% block javascript %}
  <script>
	$(document).on('click', '#delete', function() {
		$.ajax({
			url: "{% url 'tasks:deleteTask' %}",
			type: 'POST',
			data: {
				'task_id': {{ task.id }},
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			success: function (data) { window.location.href = '/tasks/';},
			failure: function(data) { }
		});
	});

	$(document).on('click', '#edit', function() {
		$('#task_text').remove();
		$('#edit').remove();
		$('#delete').remove();
		$('#task_title_div').append("<div id='task_title'><h1><input type='text' id='edit_task_text' value='{{ task.task_text }}'><button type='button' id='confirm_edit'>!</button><button type='button' id='cancel_edit'>X</button></h1></div>"); 
	});

	$(document).on('click', '#cancel_edit', function() {
		$('#edit_task_text').remove();
		$('#confirm_edit').remove();
		$('#cancel_edit').remove();
		$('#task_title_div').append("<h1 id='task_text'>{{ task.task_text }}<button type='button' id='edit'>!</button><button type='button' id='delete'>X</button></h1>"); 
	});

	$(document).on('click', '#confirm_edit', function() {
		var edit_task_text = $('#edit_task_text').val();

		$.ajax({
			url: "{% url 'tasks:editTask' %}",
			type: 'POST',
			data: {
				'task_id': {{ task.id }},
				'task_text': edit_task_text,
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			success: function (data) { location.reload(); },
			failure: function(data) { }
		});
	});

	$(document).on('click', '#back_button', function() {
		window.location = "{% url 'tasks:index' %}";
	});
  </script>
{% endblock %}

<div id="task_title_div">
<h1 id="task_text">{{ task.task_text }}<button type='button' id='edit'>!</button><button type='button' id='delete'>X</button></h1>
</div>

<ul>
	<li>{{ task.id }}</li>
	<li>{{ task.task_type }}</li>
	<li>{{ task.create_date }}</li>
	{% if task.completed %}
	<li>Task is Completed</li>
	{% else %}
	<li>Task is NOT Completed</li>
	{% endif %}
</ul>

<button type='button' id='back_button'>Back</button>
