{% extends "tasks/base.html" %}

{% block content %}

{% block javascript %}
  <script>
	$(document).on('change', '.tasks', function() {
		var task_id = $(this).val();

		$.ajax({
			url: "{% url 'tasks:complete' %}",
			type: 'POST',
			data: {
				'task_id': task_id,
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			success: function (data) { },
			failure: function(data) { }
		});
	});

	$(document).on('click', '#add_task', function() {
		$('#add_task').remove();
		$('#task_list').append("<li id='new_task'><input type='checkbox' id='new_task_completion'/><input type='text' id='new_task_text' size='15'/><button type='button' id='confirm_add'>Add</button><button type='button' id='cancel_add'>X</button></li>"); 
	});

	$(document).on('click', '#confirm_add', function() {
		var new_task_text = $('#new_task_text').val();
		var new_task_completion = $('#new_task_completion').is(':checked');

		$.ajax({
			url: "{% url 'tasks:addTask' %}",
			type: 'POST',
			data: {
				'new_task_text': new_task_text,
				'new_task_completion': new_task_completion,
				'task_type': '{{ page_type }}',
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			success: function (data) { location.reload(); console.log('yes')},
			failure: function(data) { console.log('no') }
		});
	});

	$(document).on('click', '#cancel_add', function() {
		$('#new_task').remove();
		$('#add_button_div').append("<button type='button' class='btn btn-primary pull-left' id='add_task'><i class='fa fa-plus'></i> Add Task</button>"); 
	});

  </script>
{% endblock %}


<div class="row">
  	<div class="col-md-6">

  		<!-- Paging -->
      	<div class="box-header ui-sortable-handle">
        	<h3 class="box-title">{{ page_type }}</h3>
        	<div class="box-tools pull-right">
	          	<nav aria-label="...">
				  <ul class="pagination">
			
				    <li class="page-item {% if page_type == 'Once' %}active{% endif %}"><a class="page-link" href="/tasks/once">O</a></li>
				    <li class="page-item {% if page_type == 'Daily' %}active{% endif %}"><a class="page-link" href="/tasks/day">D</a></li>
				    <li class="page-item {% if page_type == 'Monthly' %}active{% endif %}"><a class="page-link" href="/tasks/month">M</a></li>
				    <li class="page-item {% if page_type == 'Yearly' %}active{% endif %}"><a class="page-link" href="/tasks/year">Y</a></li>
				  </ul>
				</nav>
        	</div>
      	</div>
 		
 		<!-- To do list body -->
      	<div class="box-body">
	        <ul class="todo-list ui-sortable" id="task_list">
	        	{% if task_list %}
	        	{% for task in task_list %}
	          	<li>
		            <input type="checkbox" class="tasks" name="tasks[]" value="{{ task.id }}" {% if task.completed %} checked=checked {% endif %}/>
		            <span class="text"><a href="{% url 'tasks:detail' task.id %}">{{ task.task_text }}</a></span>
		            <div class="tools">
		              	<i class="fa fa-edit"></i>
		              	<i class="fa fa-trash-o"></i>
		            </div>
	          	</li>
	         	{% endfor %}
	         	{% endif %}
	        </ul>
      	</div>
    	
    	<!-- Add new task button -->
    	<div class="box-body" id="add_button_div">
      		<button class="btn btn-primary pull-left" id="add_task" href="#" ><i class="fa fa-plus"></i> Add Task</button>
      	</div>
  	
  	</div> 
    
</div>

{% endblock %}