<!DOCTYPE html>
<html lang="en">

<head>
	<title>TaskStreaks</title>
	<meta charset="utf-8" />
	
	<meta name="viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=no">
	
	{% load staticfiles %}
	<script src="{% static 'tasks/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'tasks/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static 'tasks/js/base.js' %}"></script>
 	<link rel="stylesheet" href="{% static 'tasks/vendor/bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>
  	<link rel="stylesheet" type="text/css" href="{% static 'tasks/css/todolist.css' %}" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body id="page-top">

	{% block content %}
	{% endblock %}
 
  <!-- Bootstrap core JavaScript -->
<!--   <script src="{% static 'tasks/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 -->
</body>

</html>